<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #1 Blinking an LED</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="/tutorial/1"><img src="/img/galileo.png" alt=""></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #2 Potentiometer</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="/tutorial/2"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #3 Multiple LEDs</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #4 Multiple LEDs</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #5 Push Buttons</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #4 Multiple LEDs</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #6 Photo Resistor</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #7 Temperature Sensor</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #8 A Single Servo</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #9 Flex Sensor</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #10 Soft Potentiometer</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #11 Piezo Buzzer</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #12 Spinning a Motor</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #13 Relay</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #14 Shift Register</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #15 LCD</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>

<div class="col-md-4">
	<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
		<div class="card-heading">
			<h3 class="card-title">Circuit #16 Simon Says</h3>
			<div class="card-subhead">
				By <a href="#">Marcus Schappi</a>
			</div><!--.card-subhead-->
		</div><!--.card-heading-->
		<div class="card-body">
			<div class="image">
				<a href="#"><img src="/img/galileo.png" alt="Intel Galileo Gen2"></a>
			</div><!--.image-->
			<ul class="users">
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Emanuele Costa">
						<img src="../../assets/globals/img/faces/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors 	Huisman">
						<img src="../../assets/globals/img/faces/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla 	Olsen">
						<img src="../../assets/globals/img/faces/3.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia 	Gagné">
						<img src="../../assets/globals/img/faces/4.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Nicoline Thomsen">
						<img src="../../assets/globals/img/faces/5.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="	Christian Roth">
						<img src="../../assets/globals/img/faces/6.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas 	Verbeke">
						<img src="../../assets/globals/img/faces/7.jpg" alt="">
					</a>
				</li>
			</ul>
		</div><!--.card-body-->
		<div class="card-footer">
		<ul>
			<li>999 Students</li>
			<li><a href="#">Join Them</a></li>
		</ul>
		</div><!--.card-footer-->
	</div><!--.card-->
</div>