<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CIRCUIT #1 - BLINKING AN LED</h4>
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
					<div class="col-md-4">
							<p><img src="/img/1/schematic.png" alt="Circuit 1 Schematic" width='50%' height='50%'/></p>
							<div class="alert alert-info-transparent" role="alert">This is a schematic of your circuit.</div>

						</div>
						<div class="col-md-8">
							<p>LEDs (light-emitting diodes) are small, powerful lights that are used in many different applications. To start off the Inventor Course, we will work on blinking an LED. That's right - it's as simple as turning a light on and off. It might not seem like much, but establishing this important baseline will give you a solid foundation as we work toward more complex experiments.</p>

							<div class="alert alert-info-transparent" role="alert">Each circuit begins with a brief description of the what you are putting together and the expected result.</div>
						</div>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div>

<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PARTS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">LED</span>
									</div>
									<div class="list-action-right">
										<span class="title">x1</span>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Resitor (330 ohm)</span>
									</div>
									<div class="list-action-right">
										<span class="title">x1</span>
									</div>

								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Wire</span>
									</div>
									<div class="list-action-right">
										<span class="title">x3</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div>


		