<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CIRCUIT #1 - BLINKING AN LED</h4>
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
					<div class="col-md-4">
							<p><img src="/img/1/schematic.png" alt="Circuit 1 Schematic" width='50%' height='50%'/></p>
							<div class="alert alert-info-transparent" role="alert">This is a schematic of your circuit.</div>

						</div>
						<div class="col-md-8">
							<p>LEDs (light-emitting diodes) are small, powerful lights that are used in many different applications. To start off the Inventor Course, we will work on blinking an LED. That's right - it's as simple as turning a light on and off. It might not seem like much, but establishing this important baseline will give you a solid foundation as we work toward more complex experiments.</p>

							<div class="alert alert-info-transparent" role="alert">Each circuit begins with a brief description of the what you are putting together and the expected result.</div>
						</div>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div>


<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PARTS</h4>
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
								<div class="row">
				<div class="col-md-4">
				<div class="card card-image bg-image red-led-bg-image">

					<div class="context ">


						<div class="tile-content">
							<span class="text-title">LED</span>
							<span class="text-subtitle">1x</span>
						</div>



					</div>

				</div><!--.card-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="card card-image bg-image resistor-330-ohm-bg-image">

					<div class="context ">


						<div class="tile-content">
							<span class="text-title">Resistor 330 ohm</span>
							<span class="text-subtitle">1x</span>
						</div>



					</div>

				</div><!--.card-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="card card-image bg-image jumper-wires-bg-image">

					<div class="context ">


						<div class="tile-content">
							<span class="text-title">Jumper Wires</span>
							<span class="text-subtitle">3x</span>
						</div>



					</div>

				</div><!--.card-->
			</div><!--.col-->

			
		</div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div>


